# ignore emacs backups
*~

# ignore python compiled files
*.pyc

# ignore ffc headers
ffc_form*.h

# ignore mesh files
*mesh.xml
*.mesh
*.msh
*.pos
*.geo

# ignore numpy saves
*.npy

# ignore some folders
np/build
data_heavy
